# FastAPI Configuration
DEBUG=True
API_TITLE=NFSe Leiaute Portal API
API_VERSION=1.0.0

# Database
DATABASE_URL=sqlite:///./nfse_leiaute.db

# Source Directory (onde estão os JSONs)
SOURCE_DIR=../output-source/Leiaute-nfse-rtc-v1-03-00-2013-nt007
